@import "../../../assets/styles/app.scss";

.cardList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.fetching {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  border: 0.125rem dashed rgb(250, 0, 0);
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation-name: search-fething;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.error {
  width: 60%;
  height: 10rem;
  margin: 10vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgba(250, 0, 0, 0.3);
  border-radius: 0.5rem;
}
@keyframes search-fething {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}