@import "./variables.scss";
@import "./reset.scss";

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "RobotoMedium";
  src: url(../fonts/Roboto-Medium.ttf);
}

body {
  font-family: "Roboto";
  background-color: $background;
  color: $fontColor;
}
.card-block{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}
    